.App {
  text-align: center;
  background-image: url('./bodega_181624-1264Resized.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;

}
