#error {
  border-bottom: 0.2rem rgb(194, 0, 0) solid !important;
}
#accepted {
  border-bottom: 0.2rem rgb(0, 85, 14) solid !important;
}
.formProd {
  margin-bottom: 2rem;
  padding-top: 10rem;
  background-color: white;
}
